.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #3b9097;
    color: white;


}

.input {
    background-color: #92C7C7;
    border-radius: 10px;
    width: 300px;
}

.btn {
    background-color: #92C7C7;
    width: 200px;
    margin-left: 200px;
}